// Couleurs personnalisées
$dark-blue:#00497C;
$light-blue:#0074C7;

$body-bg:#F1F8FC; // Couleur de fond du corps de la page
$primary: $light-blue; // Couleur principale
$dark: $dark-blue; // Couleur sombre pour le bloc de la page d'accueil "Comment trouver mon artisan?"